html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#frameLeft {
  position:absolute;
  width: 128px;
  height: 128px;
  right: 150px;
  bottom: 0;
}

#frameRight {
  position: absolute;
  width: 128px;
  height: 128px;
  right: 0px;
  bottom: 0;
}
